/*---------------
SETTAGGI GENERALI
-----------------*/
@font-face {
    font-family: NetflixSans;
    src: url(/public/fonts/NetflixSans-Regular.otf);
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,p,a,.btn{
    font-family: NetflixSans, sans-serif;
}




/*-------------------
NAVBAR COMPONENTS CSS
--------------------*/
.navbar-logo{
    height: 5vh;
    width: 5vh;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.btn-navbar{
padding: 0;
height: 5vh;
width: 20vh;
}
.btn-logout{
    text-decoration: none !important;
}



/*--------------------
HEADER COMPONENTS CSS
---------------------*/
.header-bg{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.432) , rgb(0, 0, 0)) , url(/public/media/header_image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.btn-header{
    width: 20vh;
}
.header-content{
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Imposta il numero massimo di linee a 4 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 8em; /* Altezza massima di 4 righe di testo con spazio extra */
}



/*---------------------
CREATE_PRODUCT_PAGE CSS
----------------------*/
.title-create-product{
    letter-spacing: 1.5px;
}
.form-column{
    width: 60vh;
    height: 70vh;
    background-color: #16191b;
}
/* Stile generico per tutti gli input */
input {
   width: 100%;
   box-sizing: border-box;
   padding: 10px;
}
/* Stile specifico per il menu a discesa (select) */
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
/* Stile del testo quando nessun file è selezionato */
input[type="file"]:not(:placeholder-shown) {
    color: #ffffff; /* Sostituisci con il colore desiderato */
}



/*---------------------
REGISTER FORM CSS
----------------------*/
.birthday-input{
    width: 22.2vh;
}
.gender-input{
    width: 22.5vh;
    height: 6.25vh;
}
.register-column{
    width: 60vh;
    background-color: #16191b;
}



/*---------------------
LOGIN FORM CSS
----------------------*/
.spanAccount{
font-weight: 100;
font-size: 12px;
}
.inputLogin{
    width: 48vh !important;
}